.counter {
  // border: 2px dotted rgba(223, 223, 223, 0.582);
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(99, 206, 206, 0.281);
  color: #08ddc8;

  &__name {
    font-size: 24px;
  }
  &__num {
    padding: 5px;
    color: #f1f0ea;
  }

  .far {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    color: #00ead3;

    &:hover {
      color: #fff5b7;
    }
  }
}
