@use "./assets/sass/_variables.scss" as *;

.app {
  background: url(https://dl.dropbox.com/s/mpmu0gjtxv2x3fs/Webp.net-resizeimage%20%281%29.jpg?raw=1)
    no-repeat center center fixed;
  background-size: cover;
  height: 100%;

  .header {
    text-align: center;
    padding-top: 50px;

    &__title {
      font-size: 48px;
      margin: 0;
      color: white;
    }
  }

  // Employees Section
  .employees {
    margin-top: 50px;
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-gap: 20px;
  }
}

@media screen and (min-width: 992px) {
  .app {
    .employees {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 50px;
    }
  }
}
