@use "./assets/sass/_variables.scss" as *;

.app {
  background-color: aquamarine;
  height: 100%;

  .header {
    text-align: center;
    padding-top: 50px;

    &__title {
      font-size: 60px;
      margin: 0;
    }
  }

  // Employees Section
  .employees {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

@media screen and (min-width: 992px) {
  .app {
    height: 100vh;
    .employees {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 50px;
    }
  }
}
